@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  size: 10px;
  line-height: 3.5em;
  weight: 300
}


h1, h2, h3, h4, h5, h6{
    font-family: roboto;
}

h1{
    size: 9em;
    text-align: center;
    transform: uppercase;
}

h2{
    size: 5em;
    text-align: center;
    transform: uppercase;
}

h3{
    size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4{
    size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}

h5{
    size: 1.2em;
    line-height: 1em;
}

.nav-bar{
    background-color: rgb(25, 33, 4);
}

.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.header{
    background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px
}

.header h1{
 font-size: 4em;
}

.header h2{
    color: white;
    text-shadow: #020819 8px -20px 9px;    
    font-size: 2.5em;
}

.quote{
    font-size: 2.5em
}

.dark-background {
    background-color: rgb(25, 33, 4);
    color: white;    
}

.general-information {
    font-size: 2em;
    width: 100;
    text-align: center;
}

.link-btn {
    background-color: rgb(67, 163, 230);
    color: white;
    font-family: roboto condensed;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none    
}

.service-box {
    text-align: center;
    font-size: 1.7em
}

.service-box img {

}

.section-text {
    text-align: center;
    font-size: 1.9em
}

.member-name {
    font-size: 1.5em;
    font-weight: 700
}

#team {
    width: 250px;
    height: 180px
}


.address {
    font-style: normal;
    font-size: 0.8em
}

.footer {
    text-align: center;
    font-size: 1.9em
}

.footer a {
    color:rgb(67, 163, 230);
    text-decoration: none;
  }

ul {
    list-style: none;
}

